td {
    vertical-align: middle;
}
.link {
    text-decoration: none !important;
    color: white !important;
}
.error {
    background: #f2dede;
    color: #a94442;
    padding: 8px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
}
